@import "_variables.scss";

@font-face {
	font-family: raleway_m;
	src: url(../fonts/raleway-v22-cyrillic-300.woff2);
	font-weight: 300;
}

@font-face {
	font-family: raleway_m;
	src: url(../fonts/raleway-v22-cyrillic-900.woff2);
	font-weight: 900;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body, html{
	width: 100%;
	height: 100%;
	background-color: $blackBackground;
	color: $colorOfAllElements;
	font-family: raleway_m, sans-serif;
	overflow: visible;
	line-height: 1.8;
}

.swiper-slide{
	width: 100vh;
	height: 100vh;
}

// .slider{
// 	width: 100%;
// 	transform: rotate(15deg);
// 	// removed slide limits
// 	overflow: visible;
// 	top: 10vh;
// }

.slider{
	width: 100%;
	transform: rotate(15deg);
	// removed slide limits
	overflow: visible;
	top: 10vh;

	// &_main{
		
	// }
// What's in the background
	&_big{
		z-index: 0;
		transform: rotate(-20deg) !important;
		top: -90vh;
		left: -10vh;
		opacity: 0.10;
		filter: saturate(10);
	}

	&__wrapper{
		// CSS Easing / Cubic-Bezier Generator
		transition: $animationTransition !important;
		will-change: transform;
	}

	&__item{
		max-height: 75vh;
		overflow: hidden;
		cursor: pointer;
	}

	&__images{
		width: 300%;
		height: 100%;
		background-size: cover;
		position: absolute;
		left: -100vh;
		transition: $animationTransition !important;
		will-change: transform;
	}
}