@import "_variables.scss";

@font-face {
	font-family: raleway_m;
	src: url(../fonts/raleway-v22-cyrillic-300.woff2);
	font-weight: 300;
}

@font-face {
	font-family: raleway_m;
	src: url(../fonts/raleway-v22-cyrillic-900.woff2);
	font-weight: 900;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body, html{
	width: 100%;
	height: 100%;
	background-color: $blackBackground;
	color: $colorOfAllElements;
	font-family: raleway_m, sans-serif;
	overflow: hidden;
	line-height: 1.8;
	position: relative;
}

.swiper-slide{
	width: 100vh;
	height: 10000vh;
}

.slider{
	width: 100%;
	transform: rotate(15deg);
	overflow: visible;
	top: 10vh;

// Блюр на заднем фоне
	&_big{
		z-index: 0;
		transform: rotate(-20deg) !important;
		top: -90vh;
		left: -10vh;
		opacity: 0.15;
		filter: blur(120px) saturate(10);

		.slider__item{
				max-height: 100vh;
		}
	}

	&__wrapper{
		transition: $animationTransition !important;
		will-change: transform;
	}

	&__item{
		max-height: 75vh;
		overflow: hidden;
		cursor: pointer;
		transition: transform $animationTransition, box-shadow $animationTransition;

		&.extendedSlide{
			z-index: 2;
			transform: rotate(-15deg) scale(1.5);
			box-shadow: rgb(0 0 0 / .75) 0 0 0 10000px;
		}
	}

	&__images{
		width: 300%;
		height: 100%;
		background-size: cover;
		position: absolute;
		left: -100%;
		transition: $animationTransition !important;
		will-change: transform;
	}
}

.synopsis{
	position: absolute;
	font-size: calc($sizeIndex * .8);
	top: 20vh;
	left: 8vw;
	max-width: 26vw;
	opacity: .9;
	transition: opacity $animationTransition, transform $animationTransition;
	

	&__logo{
		font-size: calc($sizeIndex * 5);
		font-weight: 900;
		display: inline-block;
		background: linear-gradient(40deg, rgb(0, 0, 0), rgb(255, 255, 255), rgb(255, 238, 2));
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	&__text{
		opacity: 9;
		transition: $animationTransition !important;
		transition-duration: 5s;
	}

	&.pinch{
		opacity: 0.1;
		transform: translateY(5vh);

		& .synopsis__text{
			transform: translateY(15vh);
		}

	}
}